@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;

  --box-bg: #ffffff;
  --box-text: #1f2937;

  --text-primary: #111827;
  --text-secondary: #4b5563;
  --text-muted: #9ca3af;
}

html.dark {
  --background: #1a1a2e;
  --foreground: #2b2c40;

  --box-bg: #2a2a3d;
  --box-text: #f0f0f0;

  --text-primary: #f3f4f6;
  --text-secondary: #d1d5db;
  --text-muted: #9ca3af;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.text-primary {
  color: var(--text-primary); /* Uses the primary text color */
}

.text-secondary {
  color: var(--text-secondary);
}

.text-muted {
  color: var(--text-muted);
}

.box {
  background-color: var(--box-bg);
  color: var(--box-text);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
